/*
TODO(you): Write any additional styles you need here.
*/


.cursor_pointer{
  cursor: pointer;
}


.flashcard-box .word
{
    animation: slidein 0.5s;
}

@keyframes slidein
{
    0%
    {
        margin-top: 100%;
    }
    100%
    {
        margin-top: 0%;
    }
}
